/*______________________________________________*/
@font-face {
  font-family: Raleway;
  font-weight: 200;
  src: local("Raleway-ExtraLight"),
        local("Raleway ExtraLight"),
        url("../fonts/Raleway-ExtraLight.woff2") format("woff2"),
        url("../fonts/Raleway-ExtraLight.woff") format("woff"), 
        url("../fonts/Raleway-ExtraLight.eot") format("eot");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-weight: 300;
  src: local("Raleway-Light"),
        local("Raleway Light"),
        url("../fonts/Raleway-Light.woff2") format("woff2"),
        url("../fonts/Raleway-Light.woff") format("woff"), 
        url("../fonts/Raleway-Light.eot") format("eot");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-weight: 700;
  src: local("Raleway-Bold"),
        local("Raleway Bold"),
        url("../fonts/Raleway-Bold.woff2") format("woff2"),
        url("../fonts/Raleway-Bold.woff") format("woff"), 
        url("../fonts/Raleway-Bold.eot") format("eot");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: local("Roboto-Bold"),
        local("Roboto Bold"),
        url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff"), 
        url("../fonts/Roboto-Bold.eot") format("eot");
  font-style: normal;
  font-display: swap;
}

/*______________________________________________*/